/* ------
To do list
1. add animations
2. make website responsive 
*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
                                                
}
body{
    background: #fff;
    color: black;
    margin: 0;
}
#header{
    width: 100%;
    height: 125vh; 
    
}
.header-container{
    width: 100%;
    height: 5%;
    font-size: .8rem;
    background-color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-repeat: repeat;
    background-position: top left;
    background-image: url(Assets/header-strip.png)
}

nav{
    margin-top: 30px;
    padding: 10px 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #fbe004;
    background-color: #fff;
}
.logo{
    width: 280px;
    padding-top: 10px;
    padding-left: 0%;
    padding-right: 40px;
    display: inline-block;
    height: auto;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin:10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
    font-family: 'BERNIER Distressed', sans-serif;
}
.btn{
    color: #fbe004;
    background-color: black;
    padding: 10.8px
    20px;
}
.slider{
    width: 100%;
    height: 100vh;
    border-bottom: 10px solid #fbe004;
    display: flex;
    
    justify-content: center;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    max-height: 550px;
}
.under-slider{
    padding: 0;
    width: 100%;
    height: 400px;
    border-bottom: 10px solid #fbe004;
}
.about-container{
    padding: 0px 100px;
    border-bottom: 10px solid #fbe004;
    
}
.about-text{
    padding: 60px 0px;
}
.about-text h1, p{
    font-family: 'SignPainter', sans-serif;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px 50px;
}
.about-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.about-text h1{
    border-bottom: 10px solid #fbe004;
    height: auto;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    margin-left: 40%;
    justify-content: center;
    padding-bottom: 30px;
    
    
}
.about-heading{
    width: 300px;
}
.hospitality{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    font-size: .8rem;
    background-color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-repeat: repeat;
    background-position: top left;
    background-image: url(Assets/header-strip.png);
}
footer{
    
    padding: 10px 1%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #fbe004;
}
footer ul li{
    list-style: none;
    display: inline-block;
    margin:10px 20px;
}
footer ul li a{
    color: #a11c2f;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
    font-family: 'BERNIER Distressed', sans-serif;
}
.social-icons a{
    text-decoration: none;
    color: #a11c2f;
    border-radius: 50%;
    font-size: 14px;
}
i{
    display: block;
    font-size: 25px;
}
.nyfta{
    display: block;
    max-width:100px;
    max-height:45px;
    width: auto;
    height: auto;
    align-self: center;
}